body {
  background: #1C1C1C;
}

.products {
  padding-block: 100px 150px;

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 280px;
    padding: 36px 450px 36px 46px;

    background: #272628;
    color: #FFF;

    overflow: hidden;

    * {
      position: relative;
      z-index: 2;
    }

    @media (max-width: 1200px) {
      height: 330px;
    }

    @media (max-width: 992px) {
      padding: 36px 46px;
    }

    @media (max-width: 576px) {
      height: 400px;
      padding: 30px;

      justify-content: start;
    }

    @media (max-width: 400px) {
      height: 440px;
    }

    &--2 {
      background: #434148;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);

      @media (max-width: 576px) {
        background: #1E3C55;
      }
    }
  }

  &__image {
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    opacity: 0.8;

    @media (max-width: 576px) {
      width: 100%;
      height: auto;

      top: auto;
      bottom: 0;
    }

    &-shadow {
      width: 600px;
      height: 100%;

      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      background: linear-gradient(90deg, #272628 0%, #272628 11.36%, rgba(39, 38, 40, 0.797598) 23.27%, rgba(39, 38, 40, 0.53) 38.36%, rgba(39, 38, 40, 0.269245) 58.62%, rgba(39, 38, 40, 0) 76.25%);

      @media (max-width: 1200px) {
        width: 700px;
      }

      @media (max-width: 576px) {
        width: 100%;
        height: 270px;

        top: auto;
        bottom: 0;

        background: linear-gradient(180deg, #272628 3.96%, rgba(39, 38, 40, 0.725788) 26.87%, rgba(39, 38, 40, 0) 100%);
        mix-blend-mode: luminosity;
      }

      @media (max-width: 400px) {
        height: 180px;
      }

      &--2 {
        background: linear-gradient(90deg, #434148 0%, #434148 11.36%, rgba(67, 65, 72, 0.797598) 23.27%, rgba(67, 65, 72, 0.53) 38.36%, rgba(34, 33, 37, 0.269245) 58.62%, rgba(0, 0, 0, 0) 76.25%);

        @media (max-width: 576px) {
          transform: rotate(180deg);
          background: linear-gradient(180deg, #43414877 7.74%, rgba(67, 65, 72, 0.81) 40.7%, rgba(67, 65, 72, 0.62) 61.37%, rgba(67, 65, 72, 0.5) 79.14%, rgba(67, 65, 72, 0) 100%) !important;
        }
      }
    }
  }

  &__img {
    width: 100%;
    height: 300px;

    object-fit: cover;

    @media (max-width: 992px) {
      height: 340px;
    }

    @media (max-width: 768px) {
      height: 300px;
    }
  }

  &__document {
    display: flex;
    align-items: center;
    gap: 16px;

    max-width: 280px;
    width: 100%;
    padding: 20px;
    border: 0;

    background: #272628;
    color: #FFF;

    text-align: left;

    cursor: pointer;

    @media (max-width: 576px) {
      max-width: none;
    }
  }

  &__licence {
    width: 200px;
    margin-bottom: 10px;

    @media (max-width: 576px) {
      width: 150px;
    }
  }
}