<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/index.min.css">
  <link rel="stylesheet" href="css/index.min.css">
  <title>Минфин предложил единый
    налоговый вычет для долгосрочных
    инвестиций с новым типом ИИС</title>
</head>

<body>
  <nav class="nav navbar navbar-expand-lg navbar-dark py-4 fs-14px px-3">
    <div class="container">
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img src="../images/logo.svg" alt="Logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-nav collapse navbar-collapse navbar__links w-100" id="navbarSupportedContent">

        <ul class="navbar-nav navbar__links justify-content-center align-items-center gap-4 mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">Блог</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../products/index.html">Продукты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../contacts/index.html">Контакты</a>
          </li>
        </ul>
      </div>

      <div class="d-none d-lg-flex justify-content-end align-items-center gap-4">
        <button class="button-main">Войти</button>
        <a class="text-white" href="#">Рус.</a>
      </div>
    </div>

  </nav>

  <section class="blog container text-white">
    <p class="mb-4">Блог / <span class="fw-semibold">Минфин предложил единый</span></p>
    <h1 class="mb-3">
      Минфин предложил единый
      налоговый вычет для долгосрочных
      инвестиций с новым типом ИИС
    </h1>
    <p class="fs-5">Арман Арманов, Октябрь 13, 2022</p>
    <img class="blog__image mb-3" src="../images/blog/3.png" alt="">
    <p>
      Индивидуальные инвестиционные счета (ИИС) третьего типа придут на смену ИИС первого типа. Новый формат ИИС попадет
      в систему единого налогового вычета на все инвестиционные продукты, в том числе договоры с пенсионными фондами и
      полисы страхования. Об этом пишут «Ведомости» со ссылкой на разработанную Минфином концепцию развития такой
      системы.
    </p>
    <p>
      Два первых типа ИИС появились в 2015 году. По данным Московской биржи на конец июля, они были открыты у 5,6 млн
      человек. ИИС-I позволяет его владельцу получать 13% от зачисленной на счет за год суммы, но не более 400 000
      рублей (максимум вычета — 52 000 рублей в год). По ИИС-II весь доход по операциям освобождается от уплаты налога
      при закрытии счета. Для получения льгот по обеим форматам счетов нужно держать ИИС три года и не выводить
      средства. Можно иметь только один ИИС и в год внести на него не более 1 млн рублей.
    </p>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 w-100">
        <div class="col mb-4 p-4 p-md-3">
          <img class="footer__logo mb-4" src="../images/logo.svg" alt="Logo">
          <div>
            <img class="footer__icon me-2" src="../images/footer/facebook.svg" alt="">
            <img class="footer__icon me-2" src="../images/footer/instagram.svg" alt="">
            <img class="footer__icon" src="../images/footer/twitter.svg" alt="">
          </div>
        </div>

        <div class="col mb-4">
          <ul class="nav flex-column footer__column">
            <li class="fs-4">Продукты</li>
            <li class="nav-item mb-2"><a href="../index.html" class="nav-link p-0 text-muted">Главная</a></li>
            <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-muted">Блог</a></li>
            <li class="nav-item mb-2"><a href="../products/index.html" class="nav-link p-0 text-muted">Продукты</a></li>
            <li class="nav-item mb-2"><a href="../contacts/index.html" class="nav-link p-0 text-muted">Контакты</a></li>
          </ul>
        </div>

        <div class="col mb-4">
          <ul class="nav flex-column footer__column">
            <li class="fs-4">Продукты</li>
            <li class="nav-item mb-2"><a href="../products/id.product.page.html"
                class="nav-link p-0 text-muted">Хедж-фонд</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Крипто фонд*</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Венчурный фонд*</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Сукук фонд*</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Кастом/Private</a></li>
          </ul>
        </div>

        <div class="col mb-4">
          <ul class="nav flex-column footer__column">
            <li class="fs-4">Продукты</li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Сотрудничество</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms and conditions</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="../scripts/bootstrap.bundle.min.js"></script>
  <script src="../scripts/scripts.js"></script>
</body>

</html>